{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content%}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row shadow">
        <div class="col mt-4">
            <h1 class="text-center primary-text-colour">About Us</h1>
            <article class="row">
                <div class="col-12">
                    <p><strong>Peak Fitness</strong> is an independent business in the North West of England. We pride ourselves in being
                        a
                        friendly and approachable team of fitness enthusiasts and endeavour to encourage others to take
                        their
                        fitness to the next level by providing everything you need to get you there.</p>

                    <p>We offer personalised subscription plans for exercise and nutrition, meaning that you no longer
                        have
                        to
                        conform to standards set for others - you can tailor them to you!</p>
                    <p>Here at <strong>Peak Fitness</strong> we believe that <em>good health</em> shouldn't just be a
                        wish, it should be a given. Our
                        ethos is to provide <strong>affordable fitness equipment</strong> and accessories in a
                        sustainable way by ensuring we
                        only work with other <em>planet-friendly</em>, UK independent businesses. By respecting our
                        planet as much as
                        we respect our health, we have been able to pave the way for a shift in the market, meaning that
                        when you
                        purchase something from Peak Fitness you are not only buying into a <strong>healthier
                            you</strong>, but a <em>healthier planet</em> too.</p>
                    <p>
                        Join the community today and let's help you reach your Peak Fitness together!
                    </p>
                    <section>
                        <p>Here's what we plan to offer:</p>

                        <ul>
                            <li><strong>Fitness Equipment</strong></li>
                            <li><strong>Sportswear</strong></li>
                            <li><strong>Nutritional Snacks and Drinks</strong></li>
                            <li><strong>Gift Ideas</strong></li>
                            <li>Exercise Subscriptions - Coming Soon</li>
                            <li>Diet Plans - Coming Soon</li>
                            <li>Health Advice and Inspiration - Coming Soon</li>
                            <li>Recipe Ideas - Coming Soon</li>
                        </ul>
                    </section>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}