{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content%}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col-12 mt-4">
            <h1 class="text-center primary-text-colour">Help & FAQs</h1>
            <hr class="my-3">
        </div>
    <section class="row my-3">
        <article class="col-12">
            <h3>How can I contact you for help?</h3>
            <p class="text-muted ps-3">- If you have any questions at all, please contact us by email on <a href="mailto:fitness.peak.gb@gmail.com">fitness.peak.gb@gmail.com</a></p>
            <h3>Do you have a guarantee on your products?</h3>
            <p class="text-muted ps-3">- All our products come with a <strong>12 month manufacturer's guarantee</strong> as standard.</p>
            <h3>How can I get a voucher?</h3>
            <p class="text-muted ps-3">- We regularly send up-to date voucher codes out via our email newsletters, make sure to subscribe on our <a href="{% url 'home' %}">home page.</a></p>
            <h3>How do I redeem a voucher?</h3>
            <p class="text-muted ps-3">- All valid vouchers can be entered on the secure checout page, if you are still having any issues please contact us by email on <a href="mailto:fitness.peak.gb@gmail.com">fitness.peak.gb@gmail.com</a></p>
            <h3>What happens if I have a problem with my order?</h3>
            <p class="text-muted ps-3">- If you have any problems at all please contact us on <a href="mailto:fitness.peak.gb@gmail.com">fitness.peak.gb@gmail.com</a>. We aim to respond to all emails within 2-3 working days.</p>
            <h3>What if I receive a faulty item?</h3>
            <p class="text-muted ps-3">- If you receive a faulty product please send us an email on <a href="mailto:fitness.peak.gb@gmail.com">fitness.peak.gb@gmail.com</a> so we can resolve this for you. We aim to respond to all emails within 2-3 working days.</p>
            <h3>What is your returns policy?</h3>
            <p class="text-muted ps-3">- You can return a product providing it is unused within 28 days of the order dispatch date.</p>
            <h3>How do I change or update my details?</h3>
            <p class="text-muted ps-3">- You can update all your details via the 'My Profile' page on the 'Account' menu on the home page.</p>
            <h3>I'm having trouble logging into my account.</h3>
            <p class="text-muted ps-3">- Make sure you are logging in with the same email address and password you registered with. If you've forgotten your password then click 'Forgotten Password' on the login page and follow the instructions.</p>
            <h3>How can I become a supplier for Peak Fitness?</h3>
            <p class="text-muted ps-3">- Thank you for your interest in becoming a supplier for us! As a growing business we are always on the hunt for new suppliers. Please drop us an email on <a href="mailto:accounts.fitness.peak.gb@gmail.com">account.fitness.peak.gb@gmail.com</a> to discuss further.</p>
        </article>
    </section>
            



































    </div>
</div>
{% endblock %}