{% extends "base.html" %}
{% load static %}

{% block add_css %}
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="container container-top h-100 pt-5">
        <div class="row d-flex justify-content-end">
            <div class="col-4 my-5 pt-auto">
                <div>
                    <h1 class="display-1 logo-font title-text">
                        Reach your Peak
                    </h1>
                </div>
                <div>
                    <h4 class="btn-group d-inline-flex flex-column flex-md-row">
                        <a href="{% url 'products' %}" class="btn btn-lg bg-peak-green border-0 text-light shadow-sm text-uppercase rounded-pill fw-bold m-2">Shop Now</a>
                        <a href="#" class="btn btn-lg bg-peak-blue border-0 text-light shadow-sm text-uppercase rounded-pill fw-bold m-2">Peak Plans</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container h-100 bg-transparent">
        <div class="row cta align-items-center px-2 py-0 rounded rounded-5 w-75 mx-auto">
            <div class="offset-1 col-5">
                <h2 class="mb-0">Join the <span>
                    <i class="fa-solid fa-mountain-sun text-peak-grad"></i>
                </span> Community!</h2>
                <h3 class="text-dark text-muted">Subscribe to our Newsletter</h3>

            </div>
            <div class="col-7 py-1 bg-transparent ms-auto" id="mc_embed_signup">
                <form
                    action="https://herokuapp.us9.list-manage.com/subscribe/post?u=631c37e383a7d5fde6b8878d9&amp;id=648cf1a081&amp;f_id=00ea09e1f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_631c37e383a7d5fde6b8878d9_648cf1a081" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="btn button primary-bg-colour">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="row px-2">
            <div class="col-6"></div>
            <div class="col-6 d-flex justify-content-center"> -->
        <!-- Begin Mailchimp Signup Form -->
        <!-- <div class="py-1 rounded" id="mc_embed_signup">
                    <form
                        action="https://herokuapp.us9.list-manage.com/subscribe/post?u=631c37e383a7d5fde6b8878d9&amp;id=648cf1a081&amp;f_id=00ea09e1f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2>Subscribe to our Newsletter</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                                    required>
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div> -->
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_631c37e383a7d5fde6b8878d9_648cf1a081" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="button btn">
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->

        <!--End mc_embed_signup-->
        <!-- </div>
        </div> -->
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
    </script>
    <script type='text/javascript'>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
{% endblock %}