{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="container h-100">
        <div class="row h-100">
            <div class="offset-8 col-4 mt-5 py-5">
                <h1 class="display-1 logo-font title-text text-center mt-5 pt-3">
                    Reach your Peak!
                </h1>
                <div class="my-5 text-center">
                    <h4>
                        <a href="" class="btn-primary btn-lg rounded-0 border border-white border-2 text-uppercase py-3 px-5">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}