{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="container-fluid h-100">
        <div class="row h-75">
            <div class="offset-3 offset-md-3 offset-xl-6 offset-xxl-7 col-8 col-md-8 col-xl-5 col-xxl-4 text-end my-auto">
                <h1 class="display-1 logo-font title-text text-end">
                    Reach your Peak
                </h1>
                <div>
                    <h4 class="btn-group d-inline-flex flex-column flex-md-row">
                        <a href="{% url 'products' %}" class="btn btn-lg bg-peak-green border-0 text-light shadow-sm text-uppercase rounded-pill fw-bold m-2">Shop Now</a>
                        <a href="#" class="btn btn-lg bg-peak-blue border-0 text-light shadow-sm text-uppercase rounded-pill fw-bold m-2">Peak Plans</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}