<script type="text/javascript">

        // Disable +/- buttons outside 1-8 range
        function handleEnableDisable(itemId){
            let currentQty = document.querySelector(`#id_qty_${itemId}`);
            let currentValue = parseInt(currentQty.value);
            let minusDisabled = currentValue < 2;
            let plusDisabled = currentValue > 8;
            decBtn = document.querySelector(`#decrement-qty_${itemId}`);
            incBtn = document.querySelector(`#increment-qty_${itemId}`);
            minusDisabled ? decBtn.disabled = true : plusDisabled ? incBtn.disabled = true : (decBtn.disabled=false, incBtn.disabled=false);
            };
        
        // Ensure proper enabling/disbaling of all inputs on page load
        var allQtyInputs = document.getElementsByClassName('qty_input');
        for (let i of allQtyInputs){
            let itemId = i.dataset.item_id;
            handleEnableDisable(itemId)
        };

        // Check enable/disable every time the input is changed
        try {
            document.querySelector('.qty_input').onchange = function(){
            let itemId = this.dataset.item_id;
            handleEnableDisable(itemId)
            };
        } catch (e) {
        // error caught when basket is empty
        }

        // increment quantity 
        try {
            document.querySelector('.increment-qty').onclick = function(e){
                e.preventDefault();
                let closestInput = this.closest('.input-group').querySelector('.qty_input');
                let currentValue = parseInt(closestInput.value);
                closestInput.value = currentValue + 1;
                let itemId = this.dataset.item_id;
                handleEnableDisable(itemId)
            };
        } catch (e) {
        // error caught when basket is empty
        }

        // decrease quantity
        try {
            document.querySelector('.decrement-qty').onclick = function(e){
                e.preventDefault();
                let closestInput = this.closest('.input-group').querySelector('.qty_input');
                let currentValue = parseInt(closestInput.value);
                currentValue > 1 ? closestInput.value = (currentValue - 1):(currentValue);
                let itemId = this.dataset.item_id;
                handleEnableDisable(itemId)
            };
        } catch (e) {
        // error caught when basket is empty
        }
</script>