<script type="text/javascript">
    // Update quantity on click
    try {
        document.querySelector('.update-link').onclick = function(e){
        let form = this.previousElementSibling;
        if (form.className = ".update-link"){
            form.submit();
            }
        };
    } catch (e) {
        // error caught when basket is empty
    }


    // Remove item and reload on click
    try {
        removeItems = document.querySelectorAll('.remove-item');

        for (let i of removeItems){
            i.onclick = function(e){
                let csrfToken = "{{ csrf_token }}";
                let itemId = this.id.split('remove_')[1];
                console.log(itemId)
                let size = this.dataset.product_size;
                let url = `/basket/remove/${itemId}/`
                let data = {'product_size': size}

                fetch(url, {
                method: "POST",
                headers: {'Content-Type': 'application/json','X-CSRFToken': csrfToken},
                body: JSON.stringify(data)
                }).then(res => {
                    location.reload();
                });
            }
        };
    } catch (e) {
        // error caught when basket is empty
    }


</script>