<script type="text/javascript">
    // Update quantity on click
    try {
        updateItems = document.querySelectorAll('.update-link');
        for (let i of updateItems){
            i.onclick = function(e){
            let form = this.previousElementSibling;
            if (form.className = ".update-link"){
                form.submit();
                }
            };
        }
    } catch (e) {
        // error caught when basket is empty
    }


    // Remove item and reload on click
    try {
        removeItems = document.querySelectorAll('.remove-item');

        for (let i of removeItems){
            i.onclick = function(e){
                let csrfToken = "{{ csrf_token }}";
                let itemId = this.id.split('remove_')[1];
                let size = this.dataset.product_size;
                let url = `/basket/remove/${itemId}/`
                let data = {'product_size': size}
                fetch(url, {
                method: "POST",
                headers: {'Accept': 'application/json' , 'X-Requested-With': 'XMLHttpRequest','X-CSRFToken': csrfToken},
                body: JSON.stringify(data)
                }).then(res => {
                    location.reload();
                });
            }
        };
    } catch (e) {
        // error caught when basket is empty
    }


</script>