/* -------------------------------- Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 68, 255, 0.25)), url("/media/banner_image.gif") no-repeat left top fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

back {
    z-index: -2030;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.drop-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 16px;
    width: 16px;
    margin-right: .5rem;
}

.logo-font {
    text-transform: uppercase;
}

.title-text {
    color: #fff;
    font-weight: bolder;
}


.main-logo-link {
    width: fit-content;
}

.shop-button:link {
    text-decoration: none;
  }


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    body {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 68, 255, 0.25)), url("/media/banner_image.gif") no-repeat right top fixed;
        background-size: cover;
    }

    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    body {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 68, 255, 0.25)), url("/media/banner_image.gif") no-repeat center center fixed;
        background-size: cover;
    }

    .title-text{
        font-weight: 600;
        font-size: 2.5em;
    }

    .shop-button {
        font-size: .75em;
    }
}

@media (max-width: 486px) {
    .title-text{
        font-weight: 500;
        font-size: 2em;
    }

    .shop-button {
        font-size: .45em;
    }

}