/* -------------------------------- Imports */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(0deg,rgba(187, 187, 187, 0.2), rgba(0, 68, 255, 0.25)) no-repeat fixed, url("/media/main_site_images/banner_image.gif") no-repeat left top fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
}

.container-mid {
    translate: 0 -10vh;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.drop-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 16px;
    width: 16px;
    margin-right: .5rem;
}

.logo-font {
    text-transform: uppercase;
    user-select: none;
}

.title-text {
    color: #fff;
    font-weight: bolder;
}


.main-logo-link {
    width: fit-content;
    color: #00dd6f;
}

.shop-button:link {
    text-decoration: none;
  }

.active-account {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
}

.active-account:link {
    color: #fff;
}

.active-account:hover {
    color: #fff !important;
}

.active-account:active {
    color: #fff;
}

.active-account:focus {
    color: #fff;
}

.dropdown-item:hover {
  background-color: #0d6efd;
  color: #fff;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

#offcanvasToast {
    height: 0 !important;
    max-height: 0 !important;
}

.toast-capper{
    height: 2px;
}

/* ------------- MailChimp Subscribe/Newsletter Form */

#mc_embed_signup {
    background: #fff;
    clear: left;
    width: 50%;
}

/* ------------- CSS Animated Bottom Border Class */

.border-b-anm{
    border:none;
    position: relative;
  }
.border-b-anm:hover{
    color: #0d6efd;
  }

.hover-anim {
display: inline-block;
position: relative;
color: #ffffff;
}

.hover-anim:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: #ffffff;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hover-anim:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}

.dropdown .border-b-anm::after{
    background-color: #fff;
  }
.border-b-anm:hover::after{
    width: 100%;
    left: 0;
  }

.dropdown-menu {

}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 113px;
}

.arrow-primary {
    border-bottom-color: var(--bs-primary);
}

.arrow-success {
    border-bottom-color: var(--bs-success);
}

.arrow-info {
    border-bottom-color: var(--bs-info);
}

.arrow-warning {
    border-bottom-color: var(--bs-warning);
}

.arrow-danger {
    border-bottom-color: var(--bs-danger);
}

.arrow-secondary {
    border-bottom-color: var(--bs-secondary);
}

.arrow-light {
    border-bottom-color: var(--bs-light);
}

.arrow-dark {
    border-bottom-color: var(--bs-dark);
}

.basket-notification-wrapper {
    height: 135px;
    overflow-x: hidden;
    overflow-y: auto;
}


#top-banner {
    /* background-color: rgb(243, 54, 133); */
    background-color: #ef6f6c;
    /* background: linear-gradient(0deg,rgba(7, 58, 134, 70.5%) 1%, rgba(7, 58, 134, 100%) 67%); */
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #fff;
    z-index: -2;
}

.nav-item {
    font-size: 21px;
    color: #fff;
}
.nav-link {
    padding: 0.5rem 0.4rem;
}

.list-inline-item{
    margin: 0 !important;
}

.nav-item > .nav-link:link {
    color: #fff !important;
}
.nav-item > .nav-link:visited {
    color: #fff !important;
}
.nav-item > .nav-link:active {
    color: #fff !important;
}
.nav-item > .nav-link:hover {
    color: #fff !important;
}

/* extras */

.font-sbold {
    font-weight: 700 !important;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 0.4em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

/* Remove Product details Quantity arrows  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* pointer-events:none; */
}

/* custom white background with transparancy*/

.bg-white-trans {
    background-color:  rgba(256,256,256,0.7) !important;
}

.bg-peak-grad {
    background: linear-gradient(225deg, rgba(0,221,111,1) 0%, rgba(0,116,217,1) 75%);
}

.text-peak-blue {
    color: #0074d9;
}

.text-peak-grad {
    background: -webkit-linear-gradient(225deg, rgba(0,221,111,1) 0%, rgba(0,116,217,1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-peak-blue {
    background-color: #7ec4cf;
}

.bg-peak-green {
    background-color: #00dd6f;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color:#000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* Admin Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.primary-bg-colour {
    background-color:rgba(0,116,217,1) !important;
}

.primary-text-colour {
    color:rgba(0,116,217,1) !important;
}

.nav-account li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

/* unvisited link */
.nav-account li a:link {
    color: rgba(0,116,217,1);
  }
  
  /* visited link */
.nav-account li a:visited {
    color: rgba(0,116,217,1);
  }
  
  /* mouse over link */
.nav-account li a:hover {
    color: rgba(0,221,111,1)
  }
  
  /* selected link */
.nav-account li a:active {
    color: blue;
  }

.list-unstyled li a {
    text-decoration: none;
    color: whitesmoke;
}

#vertical-nav li a {
    text-decoration: none!important;
    font-size: .8em!important;
    font-weight: bold!important;
    padding: .25em 0 .25em .25em;
}

/* unvisited link */
#vertical-nav li a:link {
    color: rgba(0,116,217,1)!important;
  }
  
  /* visited link */
#vertical-nav li a:visited {
    color: rgba(0,116,217,1)!important;
  }
  
  /* mouse over link */
#vertical-nav li a:hover {
    color: #fff!important;
    background-color: rgba(0,116,217,1)!important;
  }
  
  /* selected link */
#vertical-nav li a:active {
    color: rgba(0,221,111,1)!important;
  }

.cta {
    box-shadow: -20px -20px 0 0 rgba(175, 178, 180, 0.15);
    padding: 20px;
    background-color: #fff;
    top: 140px;
    position: relative;
}

.shopping-nav {
    max-width: 15vw !important;
}

.shopping-nav .row {
    width: 100% !important;
    max-width: 15.5vw !important;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: contain;
    }

    .basket-img {
        width: 100%;
        max-height: 240px;
        object-fit: contain;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    /* body {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 68, 255, 0.25)), url("/media/main_site_images/banner_image.gif") no-repeat center top fixed;
        background-size: cover;
    } */

    
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: contain;
    }

    .basket-img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 162px;
    }
}

@media (max-width: 991px) {

    .header-container {
        padding-top: 116px;
    }

    /* body {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 68, 255, 0.25)), url("/media/main_site_images/banner_image.gif") no-repeat center center fixed;
        background-size: cover;
        height: calc(100vh - 116px);
    } */

    .shop-button {
        font-size: .75em;
    }
    
    .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: contain;
    }

    .basket-img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media (max-width: 575px) {
    .card-img-top {
        width: 100%;
        height: 40vw;
        object-fit: contain;
    }
}