/* -------------------------------- Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 68, 255, 0.25)), url("/media/main_site_images/banner_image.gif") no-repeat left top fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

back {
    z-index: -2030;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.drop-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 16px;
    width: 16px;
    margin-right: .5rem;
}

.logo-font {
    text-transform: uppercase;
    user-select: none;
}

.title-text {
    color: #fff;
    font-weight: bolder;
}


.main-logo-link {
    width: fit-content;
}

.shop-button:link {
    text-decoration: none;
  }

.active-account {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
}

.active-account:link {
    color: #fff;
}

.active-account:hover {
    color: #fff !important;
}

.active-account:active {
    color: #fff;
}

.active-account:focus {
    color: #fff;
}

.dropdown-item:hover{
  background-color: #0d6efd;
  color: #fff;
}

/* ------------- CSS Animated Bottom Border Class */

.border-b-anm{
    border:none;
    position: relative;
  }
.border-b-anm:hover{
    color: #0d6efd;
  }

.border-b-anm::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    left: 50%;
    bottom:0;
    margin-top: 2px;
    background-color: #0d6efd;
    transition: all ease-in-out .3s;
    border-radius: 5px;
  }

  .dropdown .border-b-anm::after{
    background-color: #fff;
  }
.border-b-anm:hover::after{
    width: 100%;
    left: 0;
  }

.dropdown-menu {

}

#top-banner {
    /* background-color: rgb(243, 54, 133); */
    background-color: rgb(7, 58, 134);
    background: linear-gradient(0deg,rgba(7, 58, 134, 70.5%) 1%, rgba(7, 58, 134, 100%) 67%);
    color: white;
    border-top: 2px outset #073a86;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #fff;
    z-index: -2;
}

.nav-item {
    font-size: 21px;
}

/* extras */

.font-sbold {
    font-weight: 700 !important;
}


#search-btn {
    outline-style: solid !important;
    outline: rgba(13, 110, 253, 0.6);
    outline-width: 1px !important;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: contain;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    body {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 68, 255, 0.25)), url("/media/main_site_images/banner_image.gif") no-repeat center top fixed;
        background-size: cover;
    }

    
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: contain;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    body {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 68, 255, 0.25)), url("/media/main_site_images/banner_image.gif") no-repeat center center fixed;
        background-size: cover;
    }

    .title-text{
        font-weight: 600;
        font-size: 2.5em;
    }

    .shop-button {
        font-size: .75em;
    }
    
    .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: contain;
    }
}

@media (max-width: 575px) {
    .card-img-top {
        width: 100%;
        height: 40vw;
        object-fit: contain;
    }
}

@media (max-width: 486px) {
    .title-text{
        font-weight: 500;
        font-size: 2em;
    }

    .shop-button {
        font-size: .45em;
    }

}