<footer class="footer mt-auto px-5 pt-5 mt-5 bg-peak-grad text-white text-center">
    <div class="container ">
        <hr>
        <div class="row">
            <div class="col-sm">
                <a href="{% url 'home' %}" class="text-white text-decoration-none text-uppercase">
                    <h6>Peak Fitness <small>&copy; 2022</small></h6>
                </a>
                <p class="fs-6 text-white m-0">
                    <small>Created by:
                        <a href="https://github.com/dybacz" target="_blank"
                            class="text-decoration-none text-white">James Dybacz</a></small>
                </p>
                <p class="fs-6 text-white m-0">
                    <small>Code Institute - Project 5</small>
                </p>

            </div>
            <div class="col-sm">
                <h6 class="fw-bold">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="{% url 'about_page' %}">About us</a></li>
                    <li><a href="{% url 'contact_page' %}">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <h6 class="fw-bold">Further Information</h6>
                <ul class="list-unstyled">
                    <li><a href="{% url 'help_page' %}">FAQs</a></li>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="fw-bold">Follow us</h6>
                <ul class="list-unstyled list-group list-group-horizontal text-center mx-auto d-inline-flex">
                    <li>
                        <a href="https://www.facebook.com/people/Peak-Fitness/100087419485366/" target="_blank">
                            <i class="fa-brands fa-facebook icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com" target="_blank">
                            <i class="fa-brands fa-twitter icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com" target="_blank">
                            <i class="fa-brands fa-instagram icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com" target="_blank">
                            <i class="fa-brands fa-linkedin icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://tiktok.com" target="_blank">
                            <i class="fa-brands fa-tiktok icon"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>