<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown border-b-anm">
            <a href="#" class="nav-link mr-5" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">New Arrivals</a>
            </div>
        </li>
        <li class="nav-item my-auto d-none d-lg-block"> | </li>
        <li class="nav-item dropdown border-b-anm">
            <a href="#" class="nav-link mr-5" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All Fitness</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">New Arrivals</a>
            </div>
        </li>
        <li class="nav-item my-auto d-none d-lg-block"> | </li>
        <li class="nav-item dropdown border-b-anm">
            <a href="#" class="nav-link mr-5" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All Nutrition</a>
                <a href="" class="dropdown-item">Supplements</a>
                <a href="" class="dropdown-item">Snacks</a>
                <a href="" class="dropdown-item">Drinks</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">New Arrivals</a>
            </div>
        </li>
        <li class="nav-item my-auto d-none d-lg-block"> | </li>
        <li class="nav-item dropdown border-b-anm">
            <a href="#" class="nav-link mr-5" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activewear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All Activewear</a>
                <a href="" class="dropdown-item">Men's Activewear</a>
                <a href="" class="dropdown-item">Women's Activewear</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">Peak Merchandise</a>
                <a href="" class="dropdown-item">New Arrivals</a>
            </div>
        </li>
        <li class="nav-item my-auto d-none d-lg-block"> | </li>
        <li class="nav-item dropdown border-b-anm">
            <a href="#" class="nav-link mr-5" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Arrivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All New Arrivals</a>
                <a href="" class="dropdown-item">New Exercise</a>
                <a href="" class="dropdown-item">New Nutrition</a>
                <a href="" class="dropdown-item">New Merchandise</a>
            </div>
        </li>
        <li class="nav-item my-auto d-none d-lg-block"> | </li>
        <li class="nav-item dropdown border-b-anm">
            <a href="#" class="nav-link mr-5" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All Promotions</a>
                <a href="" class="dropdown-item">Promotions</a>
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>   
    </ul>
</div>