{% load static %}

<!DOCTYPE HTML>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block add_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% endblock %}

    {% block add_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/ed045e63db.js" crossorigin="anonymous"></script>
    <!-- Stripe JS -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block add_js %}
    {% endblock %}

    <title>Peak Fitness {% block add_title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column h-100">
    <header class="container-fluid fixed-top">
        <div class="row bg-white d-none d-lg-flex" id="topnav">
            <div class="col-12 col-lg-4 mt-2 mb-0 py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link py-3 ">
                    <h2 class="logo-font my-0">
                        <i class="fa-solid fa-mountain-sun text-peak-grad"></i>
                        <strong class="ms-2">Peak</strong> <span class="text-peak-blue">Fitness</span>
                    </h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 h-100 mb-0 py-3 ">
                <form action="{% url 'products' %}" method="get">
                    <div class="input-group w-100">
                        <input type="text" class="form-control border rounded me-2" maxlength="50" name="product_query"
                            placeholder="Search our products">
                        <div class="input-group-append">
                            <button type="submit"
                                class="form-control btn btn-secondary text-peak-grad fs-4 rounded-pill" id="search-btn">
                                <span class="icon">
                                    <i class="fas fa-search "></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-end text-lg-right my-1 mb-0">
                    <button class="btn btn-white text-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasBasket" aria-controls="offcanvasBasket">
                        <div class="text-center">
                            <div class="position-relative">
                                <i class="fa-solid fa-basket-shopping"></i>
                                {% if product_count != 0 %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ product_count }}<span class="visually-hidden">unread messages</span></span>
                                {% else %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">{{ product_count }}<span class="visually-hidden">unread messages</span></span>
                                {% endif %}
                            </div>
                            <p class="my-0">
                                {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </p>
                        </div>
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasBasket"
                        aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header justify-content-between">
                            {% if grand_total %}
                                <p class="logo-font text-dark pt-1 pb-0 mb-0">
                                    <span class="text-dark text-decoration-underline">Your Basket</span>
                                    <span class="text-muted">({{ product_count }})</span>
                                </p>
                            {% endif %}
                            <button type="button" class="btn icon ms-auto" data-bs-dismiss="offcanvas"
                                aria-label="Close">
                                <i class="fa-solid fa-arrow-left fa-lg"></i>
                            </button>
                        </div>
                        <div class="offcanvas-body d-flex flex-column justify-content-between">
                            <div class="overflow-auto" style="
                            overflow-x: hidden!important">
                                {% if grand_total %}
                                    {% for item in basket_items %}
                                    <div class="row mt-2 pe-2 align-items-center" style="
                                    overflow: hidden!important">
                                        <div class="col-5 my-1">
                                            {% if item.product.image %}
                                                <a href="{{ item.product.image.url }}" class="my-auto" target="_blank">
                                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                                                        class="w-100">
                                                </a>
                                            {% else %}
                                                <a href="">
                                                    <img class="w-100" src="{{ MEDIA_URL }}/main_site_images/noimage.png"
                                                        alt="{{ item.product.name }}">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="col-7">
                                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                            <p class="my-0 small">Size:
                                                {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                            <p class="my-0 small text-muted mb-2">Qty: {{ item.quantity }}</p>
                                            {% if item.quantity == 1 %}
                                                <a class="btn-sm btn-danger remove-item text-decoration-none" id="remove_{{ item.item_id }}"
                                                    data-product_size="{{ item.size }}" role="button">
                                                    <i class="fa-solid fa-xmark"></i>
                                                    Remove Item
                                                </a>
                                            {% else %}
                                            <a class="btn-sm btn-danger remove-item text-decoration-none" id="remove_{{ item.item_id }}"
                                            data-product_size="{{ item.size }}" role="button">
                                                <i class="fa-solid fa-xmark"></i>
                                                Remove Items
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr class="my-2">
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="row" {% if grand_total %}hidden{% endif %}>
                                <div class="col">
                                    <h1 class="text-muted text-center">
                                        <i class="fa-solid fa-basket-shopping"></i>
                                        <p>Your basket is empty</p>
                                    </h1>
                                </div>
                            </div>
                            <div class="d-flex pt-3">
                                <hr class="my-4">
                                <button class="btn btn-white float-end border border-primary mx-1" data-bs-dismiss="offcanvas" aria-label="Close">
                                    <span>Continue Shopping</span>
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>
                                <a class="btn btn-primary float-start mx-1 {% if not grand_total %}disabled{% endif %}"
                                    href="{% url 'view_basket' %}" role="button"
                                    {% if not grand_total %}disabled{% endif %}>
                                    <span>Proceed to Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-cart-shopping"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-white text-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
                        <div class="text-center ">
                            <div>
                                <i class="fas fa-circle-user fa-lg"></i>
                            </div>
                            {% if request.user.is_authenticated %}
                                <p class="my-0 font-sbold">Account</p>
                            {% else %}
                                <p class="my-0 font-sbold">Login</p>
                            {% endif %}
                        </div>
                    </button>

                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount"
                        aria-labelledby="offcanvasAccount">
                        <div class="offcanvas-header justify-content-between">
                            <h5 class="offcanvas-title pt-2" id="offcanvasAccountLabel">
                                <i class="fas fa-circle-user fa-lg pe-1 logo"></i>
                                <span>Hello, </span>
                                <strong>{{ request.user.username }}</strong>
                            </h5>
                            <button type="button" class="btn icon" data-bs-dismiss="offcanvas"
                            aria-label="Close">
                            <i class="fa-solid fa-arrow-left fa-lg"></i>
                            </button>
                        </div>
                        <div class="offcanvas-body d-flex justify-content-between flex-column">
                            <ul class="nav flex-column text-start nav-account">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_staff %}
                                        <li class="nav-item">
                                            <a href="{% url 'add_product' %}">
                                                <i class="fa-solid fa-toolbox mx-3 icon"></i>
                                                Add New Product
                                            </a>
                                        </li>
                                        <hr>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a href="{% url 'profile' %}">
                                            <i class="fa-solid fa-user mx-3 icon"></i>
                                            My Profile
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="nav-item">
                                        <a href="{% url 'my_orders' %}">
                                            <i class="fa-solid fa-list mx-3 icon"></i>
                                            My Orders
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="nav-item">
                                        <a href="{% url 'my_ratings' %}">
                                            <i class="fa-solid fa-star mx-3 icon"></i>
                                            My Ratings
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="nav-item">
                                        <a href="">
                                            <i class="fa-solid fa-ranking-star mx-3 icon"></i>
                                            My Plans
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="nav-item">
                                        <a href="{% url 'help_page' %}">
                                            <i class="fa-solid fa-circle-question mx-3 icon"></i>
                                            Help
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="nav-item">
                                        <a href="{% url 'account_logout' %}">
                                            <i class="fa-solid fa-right-from-bracket mx-3 icon"></i>
                                            Logout
                                        </a>
                                    </li>
                                    <hr>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{% url 'account_signup' %}">
                                            <i class="fa-solid fa-user-plus mx-3 icon"></i>
                                            Register
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="nav-item">
                                        <a href="{% url 'account_login' %}">
                                            <i class="fa-solid fa-right-from-bracket mx-3 icon"></i>
                                            Login
                                        </a>
                                    </li>
                                    <hr>
                                {% endif %}
                            </ul>
                            <div class="d-flex pt-3 justify-content-center align-items-baseline">
                                <hr class="my-4">
                                <i class="fa-solid fa-mountain-sun text-peak-grad fs-1 p-2"></i>
                                <strong class="text-muted text-bold">Peak Fitness &copy; 2022</strong>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row bg-peak-grad">
            <nav class="navbar navbar-expand-lg navbar-light w-100 p-0 ps-2 justify-content-around">
                {% include 'includes/mobile-top-header.html' %}
                    <button class="navbar-toggler bg-white rounded-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                        aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        {% if shopping or order_form or view_basket %}
        <div class="row text-center shadow" id="top-banner">
            <div class="col">
                <h5 class="my-1 logo-font">Spend over £{{ free_delivery_threshold }} for FREE Delivery!</h5>
            </div>
        </div>
        {% endif %}
    </header>

    {% if messages %}
    <div class="message-container d-flex justify-content-center">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}

    {% block postload_js %}
        <script type="text/javascript">
            let mobileSearch = document.querySelector('#mobile-search')
            let mainNav = document.querySelector('#main-nav')

            mobileSearch.onclick = function (e) {
                mainNav.classList.remove('show');
                console.log('click')
            }

            let offcanvasEl = document.querySelector('#offcanvasToast')
            let offcanvasAlert = new bootstrap.Offcanvas(offcanvasEl, {
                backdrop: false,
                keyboard: false,
                scroll: true,
            })
            offcanvasAlert.show()
        </script>
        {% if grand_total %}
            {% include 'products/includes/quantity_input_basket_script.html' %}
        {% endif %}
    {% endblock %}
</body>

</html>