{% extends "base.html" %}
{% load static %}

{% block add_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content%}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Ratings ({{ ratings|length }})</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-muted">Items to rate:</p>
            <div class="order-history table-responsive">
                <table class="table align-middle table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Item:</th>
                            <th scope="col">Order Number:</th>
                            <th scope="col">Date of Order:</th>
                            <th scope="col">Your Rating:</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rating in ratings %}
                        <tr>
                            <td>
                                <div class="col">
                                    <a href="{% url 'product_detail' rating.product.id %}"
                                        class="text-decoration-none align-items-center">
                                        {% if rating.product.image %}
                                        <img class="w-50" src="{{ rating.product.image.url }}" alt="{{ product.name }}">
                                        {% else %}
                                        <img class="w-50" src="{{ MEDIA_URL }}/main_site_images/noimage.png"
                                            alt="{{ rating.product.name }}">
                                        {% endif %}
                                        <span>{{ rating.product.name }}</span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a href="{% url 'order_history' rating.order.order_number %}"
                                    title="{{ rating.order.order_number }}">
                                    {{ rating.order.order_number|truncatechars:12 }}
                                </a>
                            </td>
                            <td>
                                {{ rating.order.date|date:"SHORT_DATE_FORMAT" }}
                            </td>
                            <td>
                                {{ rating.rating }}
                            </td>
                            <td>
                                <a href="{% url 'product_rating' rating.order.order_number rating.product.pk %}"
                                    class="btn btn-primary text-center">Leave a Rating</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}