{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row shadow">
            <div class="col mt-4">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-2">
                    <button class="btn btn-primary">Rate Product</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}