{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="container-fluid m-0 p-0 h-100 d-flex justify-content-center align-items-center">
        <div class="row w-100">
            <div class="col text-center py-5 bg-peak-grad">
                <h1 class="text-white">COMING SOON!</h1>
            </div>
        </div>
    </div>
{% endblock %}