<div class="offcanvas offcanvas-top w-50 mx-auto" tabindex="-1" id="offcanvasToast"
    aria-labelledby="offcanvasExampleLabel" role="alert" aria-live="assertive" data-autohide="false" aria-atomic="true">
    <div
        class="px-3 py-2 offcanvas-header text-white bg-warning d-flex flex-column border border-1 border-light border-top-0 shadow rounded-bottom">
        <div class="canvasHeader w-100 ">
            <button type="button" class="btn text-white float-end" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fa-solid fa-xmark fa-lg"></i>
            </button>
            <h5 class="offcanvas-title text-center" id="offcanvasExampleLabel">
                <i class="fa-solid triangle-exclamation pe-2"></i>
                <strong class="mr-auto">Warning</strong>
            </h5>
        </div>
        <div class="col px-0">
            <p class="p-2 m-0 text-center">
                {{ message }}
            </p>
        </div>
    </div>
</div>